*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

.entry {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    gap: 10px;
}

.heart {
    fill: #fff;
    position: relative;
    top: 2px;
    width: 15px;
    margin-bottom: 3px;
}
.favorited .heart {
    fill: #5cb85c;
    position: relative;
    top: 2px;
    width: 15px;
    animation: pulse 1s ease infinite;
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}

.favorited .article_author {
    background: linear-gradient(to right, #5cb85c, transparent);
}

.favorited .article_author button {
    background-color: #fff;
    border: 1px solid grey;
}

.article_author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 4px 8px;
}
.favorited .article_author {
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    font-weight: 600;
}
.article_author button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #5cb85c;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 4px 4px;
    margin: 3px 0;
    width: 80px;
}

.article_teaser_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
}

.article_title {
    font-size: 20px;
    font-weight: 600;
    color: #5cb85c;
    text-shadow: 1px 1px 1px #000;
}

.article_teaser {
    font-style: italic;
}

.article_tags_container {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0 10px;
}
.article_tags_container a {
    color: inherit;
    font-size: 12px;
}

.article_tags {
    display: flex;
    gap: 4px;
    pointer-events: none;
}