*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

.tags {
    position: sticky;
    top: 0;
  }

.tags hr {
    margin-bottom: 8px;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 16px;
    margin-left: 10px;
}

.tag {
    border: 1px solid #000;
    padding: 1px 6px 3px 6px;
    border-radius: 6px;
    font-size: 12px;
    user-select: none;
    cursor: pointer;
}
.tag:hover {
    color: #000;
    background-color: #48556250;
}
.tag:active {
    color: #000;
    background-color: #5cb85c;
}

.selected {
    color: #000;
    background-color: #5cb85c;
}
.selected:hover {
    color: #000;
    background-color: #5cb85c;
    font-weight: 600;
}