*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

section {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 20px 50px;
    width: 100%;
}

.newscard {
    display: flex;
    flex-direction: column;
    background-color: brown;
    width: 80%;
}

.tags {
    background-color: rgb(9, 73, 52);
    width: 20%;
}

.filters {
    background-color: blueviolet;
    height: 30px;
}

.feed {
    display: flex;
    flex-direction: column;
    background-color: chartreuse;
    height: 100%;
    gap: 6px;
}

.pagination {
    background-color: aliceblue;
    height: 30px;
}