*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

section {
    display: flex;
    flex-grow: 1;
    gap: 20px;
    justify-content: center;
    padding: 20px 50px;
    width: 100%;
}

hr {
    margin-bottom: 14px;
}

h1 {
    color: #5cb85c;
    text-shadow: 1px 1px 1px #000;
}

h2 {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

h3 {
    color: #5cb85c;
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 2px;
}

.newscard {
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 2px;
}

.filters {
    height: 30px;
}

.pagination {
    display: flex;
    height: 30px;
}

.pagination button {
    flex-grow: 1;
    max-width: 94px;
    margin: 2px 2px;
    border-radius: 6px;
    border: 1px solid gray;
}
.pagination button:hover {
    color: #5cb85c;
    background-color: #48556250;
    font-weight: 600;
}
.pagination button.active {
    background-color: #5cb85c;
    color: #fff;
}  

.tags-container {
    width: 240px;
}

.tags-wrapper {
    position: sticky;
    top: 60px;
}