*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

.entry {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    gap: 10px;
}

.article_author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 4px 8px;
}
.article_author button {
    border-radius: 6px;
    padding: 2px 4px;
    margin: 3px 0 3px 6px;
    width: 80px;
}

.article_title {
    font-size: 20px;
    font-weight: 600;
}

.article_teaser {
    font-style: italic;
}

.article_tags {
    text-align: right;
}