/* FONT */
@font-face {
    font-family: 'OrgonPlan-Regular';
    src: url('fonts/OrgonPlan-Regular.ttf')  format('truetype')
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    font-family: 'OrgonPlan-Regular';
}

.app {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
}