/* FONT */
@font-face {
    font-family: 'OrgonPlan-Regular';
    src: url('/OrgonPlan-Regular.woff')  format('woff')
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'OrgonPlan-Regular';
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-thumb {
    background: var(--bg);
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background-color: var(--bg);
}

.progress-header {
    position: fixed;
    top: 28px;
    left: 200px;
    z-index: 10;
}
  
.progress-container {
    width: calc(100vw - 480px);
    background: #fff;
}
  
.progress-bar {
    height: 3px;
    background: linear-gradient(to right, transparent, #5cb85c);
    width: 0%;
}

.app {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
}